{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link rel="stylesheet" href="{{asset('assets/css/card.css')}}">

{% endblock %}

{% block title %}Comics  {% endblock %}

{% block body %}
<div class="comicfont">
<div class="bookAlignItem">
    <h2>Comics</h2>
  
  
      <div class="table">
       
          {% for comic in comics %} 
          <div class="card text-white bg-dark mb-3" style="max-width: 120rem;">
          <div class="card-header">
            <h3>{{ comic.titre }}</h3></div>
            <img src="{{asset('/uploads/upload/' ~ comic.image)}}">
            <div class="card-body">
            <h4>{{ comic.auteur }}</h4>
            <h4>Tome:{{ comic.tome }}</h4>
            <h4>Serie:{{ comic.serie }}</h4>
            <h4>Prix:{{ comic.prix }}</h4>
            <h5>
              <a href="{{ path('app_comics_show', { id: comic.id }) }}"
                >+ d'infos</a
              >
            </h5>
          </div>
          </div>
          {% else %}
          <tr>
            <p colspan="11">Y'a rien, achète autre chose</p>
          </tr>
          {% endfor %}
      
      </div>
 </div>    
  </div>
{% endblock %}