{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link rel="stylesheet" href="{{asset('assets/css/card.css')}}">

{% endblock %}

{% block title %}Comics  {% endblock %}

{% block body %}
<div class="bookAlignItem">
    <h2>Comics </h2>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Tome</th>
                <th>Serie</th>
                <th>Isbn</th>
                {# <th>Quantite</th> #}
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for comic in comics %}
            <tr>

                <td>{{ comic.titre }}</td>
                <td>{{ comic.auteur }}</td>
                <td>{{ comic.tome }}</td>
                <td>{{ comic.serie }}</td>
                <td>{{ comic.isbn }}</td>
                {#  <td>{{ comic.quantite }}</td> #}
                <td>{{ comic.prix }}</td>
                <td>
                    <a href="{{ path('app_comics_show', {'id': comic.id}) }}">Détails</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="11">Y'a rien, achète autre chose</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}