{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link rel="stylesheet" href="{{asset('assets/css/card.css')}}">

{% endblock %}

{% block title %}Bande Dessinés {% endblock %}

{% block body %}
<div class="bookAlignItem">
    <h2>Bande Dessinés</h2>
  
  
      <div class="table">
       
          {% for bande in bande_ds %} 
          <div class="card text-white bg-dark mb-3" style="max-width: 120rem;">
          <div class="card-header">
            <h3>{{ bande.titre }}</h3></div>
            <img src="{{asset('/uploads/upload/' ~ bande.image)}}">

            <div class="card-body">
            <h4>{{ bande.auteur }}</h4>
            <h4>Tome:{{ bande.tome }}</h4>
            <h4>Serie:{{ bande.serie }}</h4>
            <h4>Prix:{{ bande.prix }}</h4>
            <h5>
              <a href="{{ path('app_bande_d_show', { id: bande.id }) }}"
                >+ d'infos</a
              >
            </h5>
          </div>
          </div>
          {% else %}
          <tr>
            <p colspan="11">Y'a rien, achète autre chose</p>
          </tr>
          {% endfor %}
      
      </div>
    
  </div>
{% endblock %}
