{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link rel="stylesheet" href="{{asset('assets/css/card.css')}}">

{% endblock %}

{% block title %}Bande Dessinés {% endblock %}

{% block body %}
<div class="bookAlignItem">
    <h2>Bande Dessinés </h2>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Tome</th>
                <th>Serie</th>
                <th>Isbn</th>
                {# <th>Quantite</th> #}
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for bande in bande_ds %}
            <tr>

                <td>{{ bande.titre }}</td>
                <td>{{ bande.auteur }}</td>
                <td>{{ bande.tome }}</td>
                <td>{{ bande.serie }}</td>
                <td>{{ bande.isbn }}</td>
                {#  <td>{{ bande.quantite }}</td> #}
                <td>{{ bande.prix }}</td>
                <td>
                    <a href="{{ path('app_bande_d_show', {'id': bande.id}) }}">Détails</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="11">Y'a rien, achète autre chose</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
